@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,900;1,700&family=Pacifico&display&family=Montserrat:wght@300;500;700;800;900&display=swap');
// font-family: 'Freckle Face', cursive;
// font-family: 'New Tegomin', serif;
$pacifico-font: 'Pacifico', cursive;
$base-font-family: 'Montserrat', sans-serif;
$gothic: "Yu Gothic", YuGothic, sans-serif;
$montserrat: "Montserrat", sans-serif;

$base-font-color: #f3f1f6;;
$base-color: #141827;

$color-primary: #f3f1f6;
$color-secondary: #233442;;


$color-1st: #141827;
$color-2nd: #140a7e;

$color-3rd: #3e284f;
$color-4th: #3e284f;
$color-5th: #554463;
$color-6th: #705586;


$color-redish-1: #b5155c;
$color-redish-2: #e81f78;
$color-redish-3: #e71f76;
$color-redish-4: #ff4c9c;


$color-yellowish-1: #fec295;
$color-yellowish-2: #fedf93;
$color-yellowish-3: #feeca5;
$color-yellowish-4: #fefec0;


$color-aquaish-1: #03af9d;
$color-aquaish-2: #08d3be;
$color-aquaish-3: #05e2c9;
$color-aquaish-4: #02f6d8;

$color-blueish-1: #1488bb;
$color-blueish-2: #26a6dc;
$color-blueish-3: #7ccef0;


$color-moon-1: #f6f6f6;
$color-moon-2: #c6c5c9;

$color-pinkish-1: #ff8c9e;
$color-pinkish-2: #fdcfd7;


$calendar-border: #a8a7ad;



$color-white: #fff;
